*{
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5{
    font-family: 'Poppins', sans-serif !important;
}
p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.navigation{
    background-color: white !important;
   
}
.navigation a{
    font-family: 'Poppins', sans-serif !important;
}
.navbar-brand{
    font-size: 20px;
    color: black !important;
    font-weight: bold;
}
#showcase{
    margin-top: 40px !important;
}
#showcase h1{
    font-size: 50px;
    margin-bottom: 20px;
}
#showcase img{
    width: 90%;
    margin-left: 20px;
}
#showcase .showcase-right{
    margin-top: 90px;
}
.showcase-btn, .info-btn{
    margin-top: 20px;
}
#testimonial{
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align:center;
    margin-top: 80px;
}

#testimonial p{
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}
#testimonial p.customer{
    font-size: 20px;
    color: #666;
}
#info1 .info-right{
    margin-top: 90px;
}
#info2{
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    padding: 40px;
}
#contact{
    background: url(../img/image3.png);
    padding: 40px;
    color: #fff;
    padding: 30px;
}

footer p{
    padding:10px;
    margin-bottom: 0;
    background: #f1f1f1;
}